In [2]:
#R is a glorified calculator with basic math
3+5

[1] 8

In [3]:
# Subtraction
120-45

[1] 75

In [4]:
# Multiplication
12*5

[1] 60

In [5]:
# Division
4/9

[1] 0.4444444

In [6]:
# Exponents (this dont work in Python)
2^5

[1] 32

In [7]:
# alternate exponent method
2**5

[1] 32

In [9]:
# Modulo, outputs the remainer of the division (Helps with evens vs. odds)
5%%2

[1] 1

In [10]:
# Order of operation
(100*2)+(50/2)

[1] 225

In [11]:
# Variables name <- expression
variable.name<-50

In [12]:
variable.name

[1] 50

In [21]:
#variables using arithmetic
bank.account<- 100

In [22]:
deposit<-10

In [23]:
bank.account <- bank.account + deposit

In [24]:
bank.account

[1] 110

In [25]:
# Numeric - Floating point value (Float means a decimal value)
n <- 2.2

In [26]:
# Numeric - Integer
i <- 5

In [27]:
# Logicals - Booleans (TRUE and FALSE)
t<- TRUE
f<- FALSE

In [28]:
t

[1] TRUE

In [29]:
f

[1] FALSE

In [30]:
# Character values - Strings
char <- "Hello World"

In [31]:
char

[1] "Hello World"

In [32]:
c <- 'Single Quotes Work Too'

In [33]:
c

[1] "Single Quotes Work Too"

In [34]:
class(n)

[1] "numeric"

In [35]:
class(i)

[1] "numeric"

In [36]:
class(t)

[1] "logical"

In [37]:
class(f)

[1] "logical"

In [38]:
class(char)

[1] "character"

In [39]:
class(c)

[1] "character"

In [41]:
ls()

[1] "bank.account"  "c"             "char"          "deposit"
[5] "f"             "i"             "n"             "t"
[9] "variable.name"

In [42]:
'hello'

[1] "hello"

In [43]:
'This is also a string'

[1] "This is also a string"

In [44]:
"String built using double quotes"

[1] "String built using double quotes"

In [45]:
"I'm using a single quotes into the text with double quotes"

[1] "I'm using a single quotes into the text with double quotes"

In [46]:
nchar('Hello World')

[1] 11

In [47]:
print('This is printed txt using print()')

[1] "This is printed txt using print()"

In [50]:
'This is printed txt using print()'

[1] "This is printed txt using print()"

In [51]:
s <- 'Printed text'

In [52]:
sprintf('This string will include %s',s) # Allows to format what will be printed

[1] "This string will include Printed text"

In [56]:
sprintf('This string will include %s','More text') # Allows to format what will be printed

[1] "This string will include"

In [57]:
string1 <- "additional text"
string2 <- 'at the end'
string3 <- 'of the sentence'
sprintf('This string will include %s %s %s',string1, string2, string3)

[1] "This string will include additional text at the end of the sentence"

In [60]:
toupper("Hello World")

[1] "HELLO WORLD"

In [61]:
tolower('Hello World')

[1] "hello world"

In [64]:
strsplit('Hello World', " ") # Split string by space, for example

[[1]]
[1] "Hello" "World"

In [63]:
###----------------->  VECTORS

In [67]:
nvec <- c(1,2,3,4,5);nvec

[1] 1 2 3 4 5

In [68]:
class(nvec)

[1] "numeric"

In [69]:
cvec <- c('N','C','S','U');cvec

[1] "N" "C" "S" "U"

In [70]:
class(cvec)

[1] "character"

In [72]:
lvec <- c(TRUE,FALSE);lvec

[1]  TRUE FALSE

In [73]:
class(lvec)

[1] "logical"

In [77]:
v <- c(FALSE,2);v   # Booleans are understood as 0 for False and 1 for TRUE

[1] 0 2

In [78]:
v <- c('A',1);v

[1] "A" "1"

In [80]:
class(v)

[1] "character"

In [83]:
ilist<-list('A',1,TRUE);ilist

[[1]]
[1] "A"

[[2]]
[1] 1

[[3]]
[1] TRUE

In [84]:
class(ilist)

[1] "list"

In [85]:
name()

ERROR: Error in name(): could not find function "name"

In [87]:
temps1 <- c(73,78,76,83,69,83,89);temps1

[1] 73 78 76 83 69 83 89

In [90]:
names(temps1) <- c('Tue','Wed','Thu','Fri','Sat','Sun','Mon')

In [91]:
temps1

Tue Wed Thu Fri Sat Sun Mon
 73  78  76  83  69  83  89

In [92]:
days <- c('Tue','Wed','Thu','Fri','Sat','Sun','Mon')
temps2 <- c(81,79,91,78,79,67,66)

In [93]:
names(temps2)<-days

In [94]:
temps2

Tue Wed Thu Fri Sat Sun Mon
 81  79  91  78  79  67  66

In [95]:
# VECTOR OPERATIONS

In [96]:
v1 <- c(1,2,3)
v2 <- c(5,6,7)

In [97]:
v1 + v2

[1]  6  8 10

In [98]:
v2 - v1

[1] 4 4 4

In [99]:
v1*v2

[1]  5 12 21

In [100]:
v1/v2

[1] 0.2000000 0.3333333 0.4285714

In [101]:
sum(v1)

[1] 6

In [102]:
V <- c(12,45,100,2)

In [103]:
sd(V)

[1] 44.16918

In [104]:
var(V)

[1] 1950.917

In [105]:
max(V)

[1] 100

In [106]:
min(V)

[1] 2

In [107]:
range(V)

[1]   2 100

In [108]:
prod(v1) #multiply through elements

[1] 6

In [109]:
prod(v2)

[1] 210

In [110]:
#Greater Than or Equal to
5 > 6

[1] FALSE

In [111]:
6 > 5

[1] TRUE

In [112]:
v1 > v2

[1] FALSE FALSE FALSE

In [113]:
v2 > v1

[1] TRUE TRUE TRUE

In [114]:
6 >= 6

[1] TRUE

In [115]:
5 == 6

[1] FALSE

In [116]:
5 != 6

[1] TRUE

In [120]:
v1 < 2;v1

[1]  TRUE FALSE FALSE

[1] 1 2 3

In [121]:
v1 <- c(100,200,300);v1
v2 <- c('a','b','c');v2

[1] 100 200 300

[1] "a" "b" "c"

In [122]:
#INDEXING   (in R indexes starts in 1, and Python and others starts in 0)

In [123]:
v1[1]

[1] 100

In [124]:
v2[2]

[1] "b"

In [126]:
v1[c(1,2)]

[1] 100 200

In [127]:
v1[-1] #all excluding first element

[1] 200 300

In [128]:
v <- c(1,2,3,4,5,6,7,8,9,10)

In [129]:
v[3:6]

[1] 3 4 5 6

In [131]:
v[-3:-6]

[1]  1  2  7  8  9 10

In [133]:
v <- c(1,2,3,4)
names(v) <- c('a','b','c','d')

In [135]:
v['b']

b
2

In [138]:
v[c('d','c','b','a')]

d c b a
4 3 2 1

In [139]:
v

a b c d
1 2 3 4

In [140]:
v>2

    a     b     c     d
FALSE FALSE  TRUE  TRUE

In [141]:
v[v>2]  # filtering values following certain criteria

c d
3 4

In [142]:
filter <- v>2

In [143]:
filter

    a     b     c     d
FALSE FALSE  TRUE  TRUE

In [144]:
v[filter]

c d
3 4