![](logo.png)

# <font color='red'>IF, ELIF, ELSE Statements</font>

If Statements in Python allows us to tell the computer to perform alternative actions based on a certain set of results.
<br>Verbally, imagine telling the computer:
> "Hey if this case happens, perform some action" - This can be considered a conditional statement

We can then expand the idea further with elif and else statements, which allow us to tell the computer:

> "Hey if this case happens, perform some action. Else, if another case happens, perform some other action. Else, if none of the above cases happened, perform this action."

Take a look at the syntax format for if statements to get a better idea of this:

if case1:
    perform action1
elif case2:
    perform action2
else: 
    perform action3
    
**NOTE: Indenting in Python is critical to the processing of the if - else statment. Without the proper indenting, the script will not run properly**

# <font color='red'>Basic Syntax</font>

Using **if** and the **print()** function, perform an action

In [2]:
if True:
    print('The value was TRUE')

The value was TRUE

NOTE: This will always work because the condition will always be true

Using **if**, **else** and the **print()** function, perform an action

In [5]:
x = False

if x:
    print('X is True')   
else:
    print('This will always be printed because X is a defined variable')

This will always be printed because X is a defined variable

Adding a conditional statement into the **if** statement

In [7]:
x = False

if x == True:
    print('X is True')
else:
    print('X is False')

X is False

Change x = False to x = True

# <font color='red'>Multiple Branches</font>

In order to branch off **if** and **else**, use the **elif** statement to take in multiple conditions. Take note of how the **if**, **elif** and **else** statements line up. This can help you to see what **if** is related to relative to **elif** and **else**

Let's look at a more involved example:

In [9]:
loc = 'Lewiston'

if loc == 'Lewiston':
    print('The Peanut Belt Research Station')
elif loc == 'Rocky Mount':
    print('The Upper Coastal Plains Research Station')
elif loc == 'Whiteville':
    print('The Border Belt Tobacco Research Station')
else:
    print('This is not a peanut research station')

The Peanut Belt Research Station

# <font color='red'>Working with Dataframes</font>

**if**, **else**, **elif** statements can be used to determine conditions of indexed values in dataframes

In [10]:
import pandas as pd
import numpy as np
import os

In [11]:
os.chdir('C:\\Users\\jcdunne\\Dropbox\\CS590 Course Content\\Week 5\\Python')

In [12]:
df = pd.read_table('peanut_yield.txt')

In [13]:
df.head()

,Year,Location,Name,Label,NC_Accession,Plot_Yield,Yield
0,2014,LEW,ATP,Advanced Testing Program - Yield,ACI WT09-0761,9.0,2733
1,2014,RMT,ATP,Advanced Testing Program - Yield,ACI WT09-0761,10.2,3085
2,2014,WHI,ATP,Advanced Testing Program - Yield,ACI WT09-0761,10.2,3085
3,2015,LEW,ATP,Advanced Testing Program - Yield,ACI WT11-0351,15.3,4632
4,2015,RMT,ATP,Advanced Testing Program - Yield,ACI WT11-0351,10.7,3226

In [17]:
if df['Yield'].loc[2] > df['Yield'].loc[1]:
    print(df['Yield'].loc[2], ">", df['Yield'].loc[1])
elif df['Yield'].loc[2] == df['Yield'].loc[1]:
    print(df['Yield'].loc[2], "=", df['Yield'].loc[1])
else:
    print(df['Yield'].loc[2], "<", df['Yield'].loc[1] )

3085 = 3085

# <font color='red'>Using Functions in IF ELSE statements</font>

Functions can be used within **if**, **else**, and **elif** statements to determine conditions

In [25]:
peanut = pd.DataFrame({'Lines' : ['Bailey','Bailey II','Sullivan','Emery'], 'Yield' : [5100, 5600, 5200, 4900]})
peanut.head()

       Lines  Yield
0     Bailey   5100
1  Bailey II   5600
2   Sullivan   5200
3      Emery   4900

In [19]:
max(peanut['Yield'])

5600

In [21]:
select = 5700 

if max(peanut['Yield'] > select):
    print('A peanut line has greater than 5500 lbs per acre')
else:
    print("There are no peanut lines that meet the 5500 lbs per acre threshold")

There are no peanut lines that meet the 5500 lbs per acre threshold

# <font color='red'>Using IF Else Elif statements for conditions?</font>

**If**, **else** and **elif** statements are limited in their ability to transform data. These statement generally return boolean values based on a condition met. We'll learn the power of loops to help manipulate data and return values to form new columns or change data values

In [22]:
test = max(peanut['Yield'])

if peanut['Yield'][0] == test:
    print(peanut['Lines'][0], 'has the greatest yield')
else:
    print('A different lines has a greater yield')

A different lines has a greater yield

In [23]:
peanut

       Lines  Yield
0     Bailey   5100
1  Bailey II   5600
2   Sullivan   5200
3      Emery   4900

In [24]:
if peanut['Yield'][0] == test:
    print(peanut['Lines'][0], 'has the greatest yield')
elif peanut['Yield'][1] == test:
    print(peanut['Lines'][1], 'has the greatest yield')
elif peanut['Yield'][2] == test:
    print(peanut['Lines'][2], 'has the greatest yield')
else:
    print(peanut['Lines'][3], 'has the greatest yield')

Bailey II has the greatest yield

In [41]:
# Next class - loops!
test = max(peanut['Yield'])

for i in range(0,3):
    if peanut['Yield'][i] == test:
        print(peanut['Lines'][i], 'has the greatest yield')

Bailey II has the greatest yield

In [45]:
test = max(peanut['Yield'])

for i in range(0,3):
    if peanut['Yield'][i] == test:
        maximum = peanut['Lines'][i]

In [46]:
maximum

'Bailey II'