![](logo.png)

# <font color='red'>For Loops in Python</font>

A for loop acts as an iterator in Python; it goes through items that are in a sequence or any other iterable item. Objects that we've learned about that we can iterate over include strings, lists, tuples, and even built-in iterables for dictionaries, such as keys or values.

Here's the general format for a for loop in Python:

**Basic Syntax**

for item in object:
    
    statements to do stuff

**NOTE:** The variable name used for the item is completely up to the coder, so use your best judgment for choosing a name that makes sense and you will be able to understand when revisiting your code. This item name can then be referenced inside your loop, for example if you wanted to use if statements to perform checks.

# <font color='red'>Iterating over lists</font>

For loops can iterate over elements in lists

In [7]:
list1 = [1,2,3,5,5,5,7,8,9,10]

In [8]:
for num in list1:
    print(num)

1
2
3
5
5
5
7
8
9
10

# <font color='red'>Iterating over strings</font>

Iterating over a string is similar to iterating over a list. Remember, strings are just a sequence of characters and each of these characters can be indexed i.e. can be iterable.

In [9]:
for letter in "This string":
    print(letter)

T
h
i
s

s
t
r
i
n
g

# <font color='red'>Iterating over Tuples</font>

For loops can iterate over tuples, even though tuples are immutable

In [10]:
tup = [(1,2,3,4,5),(1,2,3,4,5),(1,2,3,4,5)]

for t in tup:
    print(t)

1
2
3
4
5

Tuples have a special quality when it comes to for loops. If you are iterating through a sequence that contains tuples, the item can actually be the tuple itself, this is an example of tuple unpacking. During the for loop we can unpack the tuple inside of a sequence and we can access the individual items inside that tuple.

In [11]:
list2 = [(1,2,3),(3,4,5),(5,6)]

In [12]:
for tup in list2:
    print(tup)

(1, 2)
(3, 4)
(5, 6)

In [14]:
for (t1,t2,t3) in list2:
    print('Element 1 =', t1, " and Element 2 = ", t2, t3)

ValueError: not enough values to unpack (expected 3, got 2)

# <font color='red'>Iterating over Dictionary Objects</font>

For loops can iterate over dictionaries.

In [26]:
d = {'key1':2, 'key2':3, 'key3':1}

In [17]:
for item in d:
    print(item)

key1
key2
key3

Notice how this produces only the keys. So how can we get the values? Or both the keys and the values? 

Remember the dictionary methods: **.keys()**, **.values()** and **.items()**

In Python each of these methods return a *dictionary view object*. It supports operations like membership test and iteration, but its contents are not independent of the original dictionary â€“ it is only a view.

In [18]:
d.items()

dict_items([('key1', 1), ('key2', 2), ('key3', 3)])

Since the .items() method supports iteration, we can perform dictionary unpacking to separate keys and values just as we did in the previous examples.

In [31]:
# Dictionary unpacking
for k,v in d.items():
    print(k)
    print(v)

key1
2
key2
3
key3
1

If you want to obtain a true list of keys, values, or key/value tuples, you can *cast* the view as a list using the built-in **list()** function.

In [22]:
list(d.keys())

['key1', 'key2', 'key3']

Remember that dictionaries are unordered, and that keys and values come back in arbitrary order. You can obtain a sorted list using sorted():

In [28]:
#d.values()
sorted(d.values())

[1, 2, 3]

In [ ]:
for v in sorted(d.values()):
    print(v)

Dictionaries support numeric iteration through the currently ordered key elements. This is the same as unpacking dictionary .items() but returns only an index of the keys. We will go over other uses for enumerate().

In [29]:
for k,v in enumerate(d):
    print(k)
    print(v)

0
key1
1
key2
2
key3

# <font color='red'>Iterating over Dictionary Objects</font>

Another common idea during a for loop is keeping some sort of running tally during multiple loops. For example, let's create a for loop that sums up a list:

In [32]:
# Start sum at zero
list_sum = 0 
list1 = [1,2,3,4,5,6,7,8,9,10]

for num in list1:
    list_sum = list_sum + num

print(list_sum)

55

The built-in Python function **sum()** is designed to do this loop. We will learn about creating functions and their application to data analysis

In [33]:
sum(list1)

55

NOTE: The += could replace the list_sum = list_sum + num in the loop to continue the addition of each element

In [ ]:
# Start sum at zero
list_sum = 0 

for num in list1:
    list_sum += num

print(list_sum)

Reminder: Multiple datatypes can be contained within dictionaries

In [34]:
import pandas as pd
import numpy as np

In [35]:
df = pd.DataFrame({'Lines' : ['Bailey','Bailey II','Sullivan','Emery'], 'Yield' : [5100, 5600, 5200, 4900]})
df.head()

       Lines  Yield
0     Bailey   5100
1  Bailey II   5600
2   Sullivan   5200
3      Emery   4900

In [36]:
dtype_dict = {'list':list1, 'tuple':tup, 'df':df}

In [37]:
dtype_dict

{'list': [1, 2, 3, 4, 5, 6, 7, 8, 9, 10],
 'tuple': (5, 6),
 'df':        Lines  Yield
 0     Bailey   5100
 1  Bailey II   5600
 2   Sullivan   5200
 3      Emery   4900}

In [38]:
for k in dtype_dict:
    print(k[0])

l
t
d

# <font color='red'>Nesting For Loops with If, Elif and Else statements</font>

If, Elif and Else statements can be nested within for loops to iterate over the entirety of an object's items.

### Modulo

The modulo allows us to get the remainder in a division and uses the % symbol.

In [39]:
17 % 5

2

This makes sense since 17 divided by 5 is 3 remainder 2. Think about the application of a modulo for conditional statements.

In [40]:
10 % 2

0

NOTE: If a number is fully divisible with no remainder, the result of the modulo call is 0. We can use this to test for even numbers, since if a number modulo 2 is equal to 0, that means it is an even number!

In [41]:
list1 = [1,2,3,4,5,6,7,8,9,10]

for num in list1:
    if num % 2 == 0:
        print(num)

2
4
6
8
10

NOTE: An else statements isn't requried but could be added for the elements that were not printed

In [42]:
list1 = [1,2,3,4,5,6,7,8,9,10]

for num in list1:
    if num % 2 == 0:
        print(num)
    else:
        print('Odd Number')

Odd Number
2
Odd Number
4
Odd Number
6
Odd Number
8
Odd Number
10

Let's revisit the example at the end of the IF, ELIF and ELSE section

In [44]:
df

       Lines  Yield
0     Bailey   5100
1  Bailey II   5600
2   Sullivan   5200
3      Emery   4900

In [45]:
test = max(df['Yield'])

if df['Yield'][0] == test:
    print(df['Lines'][0], 'has the greatest yield')
elif df['Yield'][1] == test:
    print(df['Lines'][1], 'has the greatest yield')
elif df['Yield'][2] == test:
    print(df['Lines'][2], 'has the greatest yield')
else:
    print(df['Lines'][3], 'has the greatest yield')

Bailey II has the greatest yield

In [47]:
test = max(df['Yield'])

#range = 0:4
for i in range(0,4):
    if df['Yield'][i] == test:
        print(df['Lines'][i], 'has the greatest yield')

Bailey II has the greatest yield