In [2]:
#Addition
15+32

47

In [3]:
#Subtraction
241-92

149

In [4]:
#Multiplication
8*13

104

In [5]:
# Division
13/20

0.65

In [6]:
# Exponents with the carat symbol does not work
3^7

4

In [7]:
3**7

2187

In [8]:
# Orders of operations
(45*3) - (42/4)

124.5

In [9]:
my_dogs = 2

In [10]:
my_dogs

2

In [11]:
my_dogs = ['Billie','Birdie']

In [12]:
my_dogs

['Billie', 'Birdie']

In [16]:
#Variables   name = expression
variable = 50

In [14]:
variable

50

In [17]:
variable = variable + 10

In [18]:
variable

60

In [20]:
variable += 10  #shortcut to add value to variable

In [21]:
variable

70

In [22]:
variable *= 2

In [23]:
variable

140

In [24]:
type(variable) #built-in function from Python

int

In [27]:
fl = 2.3
type(fl) #Numbers with decimal points, in R integers and floats are classified as numeric

float

In [28]:
s = 'text'

In [29]:
type(s)

str

In [30]:
Booleans = True or False #In R (TRUE or FALSE)
t = True
f = False

In [31]:
type(t)

bool

In [32]:
type(f)

bool

In [33]:
# Strings - Single or Double Quotes
'hello'

'hello'

In [34]:
"This is also a string"

'This is also a string'

In [35]:
'String built using double quotes'

'String built using double quotes'

In [37]:
"I'm using single quotes"

"I'm using single quotes"

In [38]:
# Len()
len('Hello World')

11

In [39]:
# print()
print("This is printed text using print()")

This is printed text using print()

In [40]:
# In R, sprintf()

print('The class {} begins at {}'.format('CS590','1:30PM'))

The class CS590 begins at 1:30PM

In [42]:
print('The class %s begins at %s'%('CS590','1:30PM'))

The class CS590 begins at 1:30PM

In [43]:
string1 = 'CS590'
string2 = '1:30PM'
print('The class %s begins at %s'%(string1,string2))

The class CS590 begins at 1:30PM

In [44]:
# List - variable = []    ----> Similar to vectors in R
my_list= [1,2,3]

In [46]:
type(my_list)

list

In [49]:
my_list=['String',15,100.23,'Text'];my_list

['String', 15, 100.23, 'Text']

In [48]:
my_list

['String', 15, 100.23, 'Text']

In [72]:
len(my_list)

5

In [ ]:
#INDEXING

In [67]:
my_list[:] #everything

['String', 15, 100.23, 'Text']

In [52]:
my_list[0] # INDEXING in Python starts at 0

'String'

In [53]:
my_list[1]

15

In [58]:
my_list[1:]

[15, 100.23, 'Text']

In [60]:
my_list[3:]

['Text']

In [62]:
my_list[:-1] #All without the last element

['String', 15, 100.23]

In [63]:
my_list[-1] # Its different from R, when using "-" you call the elements in reverse order.

'Text'

In [68]:
my_list[::2] # Everything in all every other (de dois em dois)

['String', 100.23]

In [69]:
my_list[::-1] #inverse order

['Text', 100.23, 15, 'String']

In [70]:
my_list += ['new item'] # Adding item

In [71]:
my_list

['String', 15, 100.23, 'Text', 'new item']

In [77]:
#method.format() using print function   (Changes permanentely)

In [78]:
#Append
list1=[1,2,3]

In [79]:
list1.append('Append me!')

In [80]:
list1

[1, 2, 3, 'Append me!']

In [81]:
#pop
list1.pop(0)

1

In [82]:
list1

[2, 3, 'Append me!']

In [83]:
#SORT
new_list = ['a','x','c','z','b']

In [84]:
new_list

['a', 'x', 'c', 'z', 'b']

In [85]:
new_list.sort()

In [86]:
new_list

['a', 'b', 'c', 'x', 'z']

In [88]:
new_list.reverse()

In [89]:
new_list

['z', 'x', 'c', 'b', 'a']

In [90]:
ls1 = [1,2,3]
ls2 = [4,5,6]
ls3 = [7,8,9]

In [93]:
matrix = [ls1,ls2,ls3]
matrix

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [94]:
matrix[0]

[1, 2, 3]

In [96]:
matrix[0][1]

2

In [97]:
matrix[1][2]

6

In [98]:
#DICTIONARY     ------> Similiar to lists in R

In [100]:
my_dict={'key1':'value1','key2':'value2','key3':'value3'}

In [101]:
my_dict

{'key1': 'value1', 'key2': 'value2', 'key3': 'value3'}

In [102]:
my_dict['key1']

'value1'

In [110]:
my_dict = {'key1':123,'key2':[12,23,33],'key3':['item0','item1','item2']}

In [111]:
my_dict['key3'][0]

'item0'

In [112]:
my_dict['key2'][2]

33

In [113]:
#operations

In [115]:
my_dict['key1'] = my_dict['key1'] - 123

In [116]:
my_dict

{'key1': -123, 'key2': [12, 23, 33], 'key3': ['item0', 'item1', 'item2']}

In [117]:
my_dict['key1'] -= 123

In [118]:
my_dict

{'key1': -246, 'key2': [12, 23, 33], 'key3': ['item0', 'item1', 'item2']}

In [125]:
my_dict['animal']='rex'

In [126]:
my_dict

{'key1': -246,
 'key2': [12, 23, 33],
 'key3': ['item0', 'item1', 'item2'],
 'animal': 'rex'}

In [127]:
#keys

In [128]:
my_dict.keys()

dict_keys(['key1', 'key2', 'key3', 'animal'])

In [129]:
my_dict.values()

dict_values([-246, [12, 23, 33], ['item0', 'item1', 'item2'], 'rex'])

In [130]:
my_dict.items()

dict_items([('key1', -246), ('key2', [12, 23, 33]), ('key3', ['item0', 'item1', 'item2']), ('animal', 'rex')])

In [133]:
#tuple   (it's unchangeable)
t = (1,2,3)

#list
#t = [1,2,3]

In [134]:
type(t)

tuple

In [135]:
t=('one',2)

In [136]:
t

('one', 2)

In [137]:
t[0]

'one'

In [138]:
t[0] ="change" #cant be altered

TypeError: 'tuple' object does not support item assignment

In [139]:
t.append('change')

AttributeError: 'tuple' object has no attribute 'append'

In [140]:
#Working with strings

In [141]:
#cant change values within string

In [145]:
s = "Hello World"
s[0]="x"

TypeError: 'str' object does not support item assignment

In [143]:
#Can add values to stringes

In [151]:
s = s + ' Again'

In [152]:
s.upper()

'HELLO WORLD AGAIN'

In [153]:
s.lower()

'hello world again'

In [154]:
s.split()

['Hello', 'World', 'Again']

In [155]:
s.split('W')

['Hello ', 'orld Again']

In [156]:
x = set()

In [157]:
x.add(1) #Adds one to my SET

In [158]:
x

{1}

In [159]:
x.add(2)

In [160]:
x

{1, 2}

In [161]:
x.add(1) #Only add unique values, this add 1 again will not change

In [162]:
x

{1, 2}

In [163]:
list1 = [1,2,1,2,2,3,4,4,3,4,5,5,2,1,2,1,2,3,4,3,2]

In [165]:
set(list1)

{1, 2, 3, 4, 5}