![](logo.png)

# <font color='red'>Data Input & Output in Python</font>

> ### CSV Input & Output
> ### Excel Input & Output
> ### SQL with Python
> ### Webscraping with Python

## Working Directories

In order to read files into dataframes in Python, the files and the jupyter notebook need to contained within the same folder. If the files are located in a different folder than the jupyter notebook, the working directory needs to be changed to that location. To get the current working directory (location on the computer) use the **OS** library and the **getcwd()** method to get the current working directory.

To set a new path (location), use the OS method **chdir()** to change the directory to the location of the saved files you want to input to R.

In [1]:
#Import the os library
import os

In [2]:
# Check the current working directory
os.getcwd()

'C:\\Users\\jcdunne\\NC State PB&G Dropbox\\Jeffrey Dunne\\CS590 Course Content\\Week 5\\Python'

In [3]:
# Change the working directory
os.chdir('C:\\Users\\jcdunne\\NC State PB&G Dropbox\\Jeffrey Dunne\\CS590 Course Content')

In [4]:
# Check the current working directory
os.getcwd()

'C:\\Users\\jcdunne\\NC State PB&G Dropbox\\Jeffrey Dunne\\CS590 Course Content'

In [5]:
# Change back to original directory
os.chdir('C:\\Users\\jcdunne\\NC State PB&G Dropbox\\Jeffrey Dunne\\CS590 Course Content\\Week 5\\Python')

In [6]:
os.getcwd()

'C:\\Users\\jcdunne\\NC State PB&G Dropbox\\Jeffrey Dunne\\CS590 Course Content\\Week 5\\Python'

# <font color='red'>Data Input and Output</font>

This notebook is the reference code for getting input and output, pandas can read a variety of file types using its pd.read_ methods. Let's take a look at the most common data types:

## CSV Input & Output

Use the Pandas built-in method **read_csv()** to read in comma separated value files into Pandas dataframes

In [7]:
# Load the NumPy and Pandas library
import numpy as np
import pandas as pd

In [8]:
# Read in example.csv - Encoding is the format of the file. Use 'ISO-8859-1'
df = pd.read_csv('example.csv', encoding='ISO-8859-1')

In [9]:
# Check the head of the dataframe
df.head()

    NC_Accession Identity or Parentage Pedigree    FAG
0  ACI WT09-0761         ACI WT09-0761      NaN  Check
1  ACI WT11-0351         ACI WT11-0351      NaN  ol ol
2  ACI WT12-0226         ACI WT12-0226      NaN  ol ol
3  ACI WT12-0419         ACI WT12-0419      NaN  Check
4  ACI WT12-0420         ACI WT12-0420      NaN  ol ol

To export a csv file, use the Pandas method **to_csv()** to export the file

In [10]:
# Export csv file to current directory
df.to_csv('export_ex.csv')

In [11]:
# Check the export
pd.read_csv('export_ex.csv')

     Unnamed: 0   NC_Accession Identity or Parentage Pedigree    FAG
0             0  ACI WT09-0761         ACI WT09-0761      NaN  Check
1             1  ACI WT11-0351         ACI WT11-0351      NaN  ol ol
2             2  ACI WT12-0226         ACI WT12-0226      NaN  ol ol
3             3  ACI WT12-0419         ACI WT12-0419      NaN  Check
4             4  ACI WT12-0420         ACI WT12-0420      NaN  ol ol
..          ...            ...                   ...      ...    ...
854         854            NaN                   NaN      NaN    NaN
855         855            NaN                   NaN      NaN    NaN
856         856            NaN                   NaN      NaN    NaN
857         857            NaN                   NaN      NaN    NaN
858         858            NaN                   NaN      NaN    NaN

[859 rows x 5 columns]

NOTE: The index for the rows was exported to the 'export_ex.csv' file. In order to drop the index values, used the index=False.

In [12]:
# Drop the index values
df.to_csv('export_ex.csv', index=False)

In [13]:
# Check the export
pd.read_csv('export_ex.csv')

      NC_Accession Identity or Parentage Pedigree    FAG
0    ACI WT09-0761         ACI WT09-0761      NaN  Check
1    ACI WT11-0351         ACI WT11-0351      NaN  ol ol
2    ACI WT12-0226         ACI WT12-0226      NaN  ol ol
3    ACI WT12-0419         ACI WT12-0419      NaN  Check
4    ACI WT12-0420         ACI WT12-0420      NaN  ol ol
..             ...                   ...      ...    ...
854            NaN                   NaN      NaN    NaN
855            NaN                   NaN      NaN    NaN
856            NaN                   NaN      NaN    NaN
857            NaN                   NaN      NaN    NaN
858            NaN                   NaN      NaN    NaN

[859 rows x 4 columns]

## Delimiters for Input & Output

Similar to R, the delimiters in Pandas dataframes can be set to input files appropriately. Use the sep = arguement within the Pandas method **to_csv()** to set the delimiter. Use the Pandas method read_table that pulls in tab delimited files with sep = '\t' by default

In [14]:
# Set delimiter as <Tab> - The tab delimiter is denoted as '\t'
df.to_csv('export_ex.txt', index=False, sep='\t')

In [15]:
pd.read_table('export_ex.txt')

      NC_Accession Identity or Parentage Pedigree    FAG
0    ACI WT09-0761         ACI WT09-0761      NaN  Check
1    ACI WT11-0351         ACI WT11-0351      NaN  ol ol
2    ACI WT12-0226         ACI WT12-0226      NaN  ol ol
3    ACI WT12-0419         ACI WT12-0419      NaN  Check
4    ACI WT12-0420         ACI WT12-0420      NaN  ol ol
..             ...                   ...      ...    ...
854            NaN                   NaN      NaN    NaN
855            NaN                   NaN      NaN    NaN
856            NaN                   NaN      NaN    NaN
857            NaN                   NaN      NaN    NaN
858            NaN                   NaN      NaN    NaN

[859 rows x 4 columns]

NOTE: The read_csv and read_table automatically set the first row as the column headers. To define the row that contains the column rows, use the header= arguement and enter the index row that contains the column names

pd.read_table('export_ex.txt', header=0)

Where 0 indexes the first row of the dataframe

# <font color='red'>Excel Input & Output</font>

Pandas can read and write excel files, keep in mind, this only imports data. Not formulas or images, having images or macros may cause this read_excel method to crash.

In [16]:
# Get the sheet names of the peanut database file
pd.ExcelFile('Peanut Database.xlsx').sheet_names

['NCSU Breeding Lines', 'NCSU Yield Trials', 'NCSU Grading Trials']

In [26]:
# Read the NCSU Breeding Lines information
df = pd.read_excel('Peanut Database.xlsx', sheet_name='NCSU Breeding Lines')

## Export Excel Files

Use the Pandas method **to_excel()** to output the excel files

In [18]:
df.to_excel('example_excel.xlsx', index=False, sheet_name='test')

## HTML

Bonus - Pandas read_html function will read tables off of webpages and return a list of dataframe objects

In [19]:
df = pd.read_html('https://www.fdic.gov/Bank/individual/failed/banklist.html')

In [20]:
df[0]

,Bank Name,City,ST,CERT,Acquiring Institution,Closing Date,Updated Date
0,The Enloe State Bank,Cooper,TX,10716,"Legend Bank, N. A.","May 31, 2019","August 22, 2019"
1,Washington Federal Bank for Savings,Chicago,IL,30570,Royal Savings Bank,"December 15, 2017","July 24, 2019"
2,The Farmers and Merchants State Bank of Argonia,Argonia,KS,17719,Conway Bank,"October 13, 2017","August 12, 2019"
3,Fayette County Bank,Saint Elmo,IL,1802,"United Fidelity Bank, fsb","May 26, 2017","January 29, 2019"
4,"Guaranty Bank, (d/b/a BestBank in Georgia & Mi...",Milwaukee,WI,30003,First-Citizens Bank & Trust Company,"May 5, 2017","March 22, 2018"
...,...,...,...,...,...,...,...
551,"Superior Bank, FSB",Hinsdale,IL,32646,"Superior Federal, FSB","July 27, 2001","August 19, 2014"
552,Malta National Bank,Malta,OH,6629,North Valley Bank,"May 3, 2001","November 18, 2002"
553,First Alliance Bank & Trust Co.,Manchester,NH,34264,Southern New Hampshire Bank & Trust,"February 2, 2001","February 18, 2003"
554,National State Bank of Metropolis,Metropolis,IL,3815,Banterra Bank of Marion,"December 14, 2000","March 17, 2005"
555,Bank of Honolulu,Honolulu,HI,21029,Bank of the Orient,"October 13, 2000","March 17, 2005"

# <font color='red'>SQL with Python</font>

The pandas.io.sql module provides a collection of query wrappers to both facilitate data retrieval and to reduce dependency on DB-specific API. Database abstraction is provided by SQLAlchemy if installed. In addition you will need a driver library for your database. Examples of such drivers are psycopg2 for PostgreSQL or pymysql for MySQL. For SQLite this is included in Python’s standard library by default. You can find an overview of supported drivers for each SQL dialect in the SQLAlchemy docs.

If SQLAlchemy is not installed, a fallback is only provided for sqlite (and for mysql for backwards compatibility, but this is deprecated and will be removed in a future version). This mode requires a Python database adapter which respect the Python DB-API.

See also some cookbook examples for some advanced strategies.

The key functions are:

read_sql_table(table_name, con[, schema, ...])
Read SQL database table into a DataFrame.
read_sql_query(sql, con[, index_col, ...])
Read SQL query into a DataFrame.
read_sql(sql, con[, index_col, ...])
Read SQL query or database table into a DataFrame.
DataFrame.to_sql(name, con[, flavor, ...])
Write records stored in a DataFrame to a SQL database.

In [21]:
# Import the engine creator for SQL lite
from sqlalchemy import create_engine

In [22]:
engine = create_engine('sqlite:///:memory:')

In [27]:
# Read the NCSU Breeding Lines information
df = pd.read_excel('Peanut Database.xlsx', sheet_name='NCSU Breeding Lines')

In [28]:
df.to_sql('data', engine, index=False)

In [29]:
sql_df = pd.read_sql('data',con=engine)

In [25]:
sql_df

NameError: name 'sql_df' is not defined

# <font color='red'>Webscraping with Python</font>

Web Scraping in general is almost always going to be unique to your personal use case, this is because every website is different, updates occur, and things can change. To fully understand webscraping in Python, you'll need to understand HTML and CSS in order to know what you are trying to grab off the website

Let's go through an example using the library **requests** and **beautifulsoup**

In [ ]:
# Import the libraries Requests and Beautifulsoup
import requests
from bs4 import BeautifulSoup

In [ ]:
# Use requests.get to pull the information from the national gallery of arts
page = requests.get('https://web.archive.org/web/20121007172955/https://www.nga.gov/collection/anZ1.htm')

In [ ]:
# Use BeautifulSoup to parse the html object
soup = BeautifulSoup(page.text, 'html.parser')

In [ ]:
# Pull all of the text from the BodyText div
# This can be done by inspecting the developer tools for the HTM page
# Right click on the page, select 'Inspect' to see the html code
artist_name_list = soup.find(class_='BodyText')
artist_name_list

In [ ]:
artist_name_list_items = artist_name_list.find_all('a')
artist_name_list_items

In [ ]:
# Pull just the artists names - Don't worry about understanding the list comprehension (for...)
# This will be covered in a later lecture of the semester
for artist_name in artist_name_list_items:
    names = artist_name.contents[0]
    print(names)